extends _templates/_site

block template-body
  +hud

  +menu

  .m-split--short
    .m-split__content--gradient
      a.m-split__back(href="index.html#services") ← Služby
      h1.m-split__title(data-grep) Projekce

    .m-split__image(data-src="src/static/img/img-3.jpg")

  main(role="main").s-service__blurb.m-blurb--white
    .m-blurb__wrap
      h2.m-blurb__claim(data-grep) Připravíme pro Vás kompletní projekční dokumentaci elektro systému budovy.

      .m-blurb__text(data-grep)
        p Jsme jedna z mála českých firem, které při navrhování používají metodiku BIM a DDS-CAD software — díky tomu se nám daří eliminovat nepředvídatelné události z důvodů konstrukčních změn a s tím spojené spontánní zásahy do specifikace elektromontážních prvků na úkor kvality použitých materiálů.

      ul.m-facts
        -
          var facts = [
            {
              "digit": "100",
              "suffix": "%",
              "label": "kontrola zákazníka nad nabídkovém řízení"
            },
            {
              "digit": "30",
              "suffix": "&thinsp;%",
              "label": "méně spotřebovaného montážního materiálu"
            },
            {
              "digit": "25",
              "suffix": "%",
              "label": "úspora nákladů investora"
            }
          ]
        each instance in facts
          li.m-facts__item(data-countup)
            strong.m-facts__digit
              span(data-value=instance.digit)= instance.digit
              != instance.suffix
            span.m-facts__label(data-grep)= instance.label

      -
        var features = {
          "title": "Proč projektovat s námi?",
          "items" :[
            {
              "title": "Flexibilita",
              "text": "BIM umožnuje provádět změny v jakékoliv fázi projektu s okamžitým promítnutím změn do projektové dokumentace."
            },
            {
              "title": "Bezpečnost",
              "text": "Software automaticky kontroluje bezpečnostní prvky v projektu a vyhodnocuje okamžitě možné konfliktní oblasti."
            },
            {
              "title": "Optimalizace nákladů",
              "text": "Při použití softwaru DDS-CAD dosahujeme až 30% úspor montážního materiálu, přičemž má zákazník 100% kontrolu nad nabídkovém řízení."
            }
          ]
        }

      +features(features)

  #info.m-infobox
    .m-infobox__wrap
      h2.m-infobox__title Co nás odděluje od konkurence?

      -
        var infobox = [
          {
            "image": "img-4.jpg",
            "title": "Building Information Model",
            "text": "Building Information Model (zkráceně BIM) je potřeba vnímat především jako proces a při přechodu na BIM je tedy zásadní si uvědomit, že se nejedná pouze o nainstalování nového softwarového řešení, ale o zásadnější změny v celkovém systému práce ať už se jedná o projektanta – jednotlivce, tím spíše celý projekční ateliér.",
            "features": ["efektivnější komunikace mezi investorem, stavbou a projektantem", "odhalení chyb ještě v době přípravy projektu", "rychlá implementace změn a dodání dokumentace"]
          },
          {
            "image": "img-5.jpg",
            "title": "DDS-CAD",
            "text": "DDS-CAD (nebo-li Data Design System Computer-aided Design) je software vyvinutý speciálně pro oblast stavebnictví.",
            "features": ["snížení počtu chyb a nepřesností v dokumentaci", "vizualizace 3D v reálném čase a prostoru", "zvýšená produktivita díky jednoduššímu získávání informací z projektu", "rychlé a přesné tvorbě výkazů výměr"]
          }
        ]

      .m-infobox__body
        each instance in infobox
          .m-infobox__block
            .m-infobox__image(data-src="src/static/img/" + instance.image)
            h3.m-infobox__head= instance.title
            .m-infobox__text
              p= instance.text
              h3 Hlavní výhody
              ul
                each item in instance.features
                  li= item

  .m-work
    h2.m-work__title Související reference

    .m-work__list
      +workItem(works[0])

  +reach("small")

  .m-related
    .m-related__top
      h2.m-related__title Další nabízené služby

    .m-related__list
      -
        var related = [
          {
            "title": "Realizace",
            "image": "service-2.jpg"
          },
          {
            "title": "Stavební engineering",
            "image": "service-3.jpg"
          }
        ]

      each instance in related
        a.m-related__link(href="service.html")
          img.m-related__image(data-src="src/static/img/" + instance.image, alt=instance.title)
          h3.m-related__name= instance.title

  +footer
