- var primaryPerson = people[0]

mixin reach(type)
  if type == "small"
    .m-reach
      .m-reach__wrap
        .m-reach__person--small
          h2.m-reach__question Zajímá Vás více?
          img.m-reach__thumbnail(data-src="src/static/img/person-vesely.jpg", alt="Jaroslav Veselý")
          .m-reach__details
            strong.m-reach__name= primaryPerson.name
            ul.m-reach__list
              li.m-reach__item
                a.m-reach__link(href="mailto:" + primaryPerson.email)= primaryPerson.email
              li.m-reach__item
                a.m-reach__link(href="tel:" + primaryPerson.phone)= primaryPerson.phone

  else
    #contact.m-reach
      .m-reach__wrap
        if type == "homepage"
          h2.m-reach__title Kontakt
        p.m-reach__text(data-grep) Chcete zadat poptávku, znát cenovou kalkulaci nebo se jen na něco zeptat?

        .m-reach__person--large
          img.m-reach__thumbnail(data-src="src/static/img/person-vesely.jpg", alt="Jaroslav Veselý")
          .m-reach__details
            strong.m-reach__name= primaryPerson.name
            ul.m-reach__list
              li.m-reach__item
                a.m-reach__link(href="mailto:" + primaryPerson.email)= primaryPerson.email
              li.m-reach__item
                a.m-reach__link(href="tel:" + primaryPerson.phone)= primaryPerson.phone

        if type == "homepage"
          a.m-reach__button(href="contact.html#people") Kontakt na všechny zaměstnance
